{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% load static %}
</head>
<body>
    <a href="{% url 'post_list' %}"><h1>Blog personal</h1></a>
    <a href="{% url 'post_new' %}">Crear un Post</a>
    <a href="{% url 'login' %}">Iniciar sesion</a>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesion</button>
            <a href="{% url 'signup' %}">Registrarse</a>
        </form>
        {% endif %}
     {% block content %}
    {% endblock %}
</body>
</html>